*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    max-width: 80%;
  
    margin: auto;
    display: flex;
    flex-direction: row;
    height: 100%;
}
.aside-left{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    background-color: aquamarine;
}
.aside-right{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    flex-grow: 4;
    background-color: tomato;
}
.item-friend{
    margin: 20px;
    h3{
        margin-bottom: 10px;
    }
}
.add-friend{
    position: absolute;
    bottom: 10px;
    height: 50px;
    text-align: center;
    font-size: 15px;
    background-color: green;
    flex-grow: 100%;
    line-height: 50px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}
.name{
    height: 10%;
}
.content-chat{
    height: 90%;
    border: 1px solid #23D18B;
}
.input-chat{
    height: 10%;
    input{
        flex-grow: 3;
        height: 28px;
    }
    button{
        flex-grow: 1;
        height: 28 px;
    }
}

.popup{
    top:50%;
    left: 50%;
    position: absolute;
    height: 100px;
    background-color: rgb(86, 183, 201);
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px black;
}
.popup, .add-friend{
    cursor: pointer;
}