<div id="container" style="margin-top: 50px;">
    <div class="aside-left">
        <div class="list-friend">
            <div class="item-friend" *ngFor="let item of listuser">
                <h3>{{item.name}}</h3>
                <p>{{item.phone}}</p>
            </div>
        </div>
        <div class="add-friend" (click)="toggle()">
           <div>Thêm bạn</div>
        </div>       
    </div>
    <div class="aside-right">
        <div class="name">Name</div>
        <div class="content-chat">2</div>
        <div class="input-chat">
            <div style="display: flex; padding:10px">
                <input type="text">
                <button>gửi</button>
            </div>
        </div>
    </div>
</div>

<div class="popup" *ngIf="hidden">
    <input type="text" (keyup)="find($event)">
    <h5 *ngIf="isfriend">{{ps.name}} </h5>
    <button>Add friend</button>
</div>