.image-info {
    background-image: url("../../../assets/shiba1.jpg");
    background-size: cover;
  }
  .mat-card:not([class*="mat-elevation-z"]) {
    box-shadow: none !important;
  }
  .avatar {
    background-color: transparent;
    padding-top: 22px;
    padding-bottom: 22px;
  }
  mat-select-value{
      color: black;
  }
  select{    
      
      font-size: 15px;
      margin: 5px 15px 5px 0px;
      color: #72808E;
      border: none;
      outline: none;
      background-color: transparent;
  }
  select:hover{
      color: #0589ff;
  }
  
  .mat-list-single-selected-option, .mat-list-single-selected-option:hover, .mat-list-single-selected-option:focus {
    background-color: #DCDCDC;}
  
    .mat-list-item-content{
      padding: 0;
    }
  
    .mat-list-item-content, .mat-list-item-content-reverse{
      padding: 0 !important;
    }
    mat-list-option{
      height: 65px !important;
    }