<div>
    <select [(ngModel)]="selectedValue">
      <option value="1">Tất cả tin nhắn</option>
      <option value="2">Tin nhắn chưa đọc</option>
      <option value="3">Tin nhắn từ người lạ</option>
    </select>
    <!-- <p>{{selectedValue}}</p> -->
  </div>

  <!--  -->
 <div>
  <mat-selection-list  [multiple]="false">
    <mat-list-option  fxLayout="column"  *ngFor="let item of listUserChat" [value]="item">
      <app-item-chat
      name="{{ item.name }}"
      message="{{ item.lastMessage }}"
      avatarUrl="{{ item.imgUrl }}"
    ></app-item-chat>
    <mat-divider></mat-divider>
    </mat-list-option>
  </mat-selection-list>
</div>
