::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #133a62 !important;
}
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color:#133a62!important;
}
.mat-select-value{
    color:white !important;
}