.item-chat{
 
    background-color: transparent;
    mat-card-title{
      color: black;
      
    }
    mat-card-subtitle{
      color: #72808E;
      margin-bottom: 0;
    }
  }
  .mat-card:not([class*="mat-elevation-z"]) {
    box-shadow: none !important;
  }